

#categoria{
    position: relative;
    left: 64vw; 
    width: 9vw;
    height: 7.6vh;
    border-radius: 5px;
     color: #686868;
     border: solid 1px #fff;
     backdrop-filter: blur(15px);
}
.option{
   text-align: center;
  
}
body{
    background:linear-gradient(to left, rgb(4, 4, 4), rgb(11, 21, 97));
    height: 200vh;
}



h2{
    color: #fff;
}
 .carousel-inner{
    height: 60vh;
    
    
 }
.form-control::placeholder{
    color: #fff;
}
.img{
    width: 20vw;
}

nav{
    position: absolute;
    z-index: 4;
}

.bg-custom {
    background-color: hsla(0, 0%, 0%, 0.6);
    backdrop-filter: blur;
    height: 13vh;
  }
.bg-custom2{
    background-color: #000;
    color: #fffefe;
    position: relative;
    left: 2.5vw;
}
input.form-control:focus {
    background-color: #000; 
    color: #fff;
   
  }

.bg-custom3{
    font-size: 36px; 
    font-weight: bold;
    margin-left: 1vw;
    margin-right: 2vw;
    margin-bottom: 0.5vh;
}
.bg-custom4{
 
    margin-left: 1vw;
    margin-right: 3vw;
   
}
.bg-custom5{
    display: block;
}
.bg-custom6{
    background-color: #000000;
    color: #fff;


}
.bg-custom7{
 background-color: #000000;
    color: #fff;
    height: 4vh;
}


.bg-custom9{
    margin-left: 2vw;
}
.bg-custom10{
    display: flex;
    flex-wrap: wrap;
}

.card-img-top{
    height: 50vh;
    width: 18vw;
}

.card{
    width: 19vw;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #000;
    color: #949494;
   margin-top: 2vh;

 
}
.card1{
  width: 21vw;
  
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #000;
  color: #949494;
 margin-top: 2vh;
margin: 2vh;

}
.card-title{
    font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;
  height: 6vh;
  width: 17vw;
  color: #fcfcfc;
  margin: 0;
  padding: 0;
}
.card-title1{
  font-family: 'Helvetica Neue', sans-serif;
font-weight: 600;
font-size: 18px;
height: 6vh;
width: 17vw;
color: #fcfcfc;
margin-left: 0.8vw;
margin-top: 2vh;
padding: 0;
}
#titulo1{
    font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;

  color: #fcfcfc;
 
}
#titulo2{
    font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;

  color: #fcfcfc;
 
}
#titulo3{
    font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;

  color: #fcfcfc;
 
}
#titulo4{
    font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;

  color: #fcfcfc;
 
}
#titulo5{
    font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;

  color: #fcfcfc;
 
}
#titulo6{
    font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;

  color: #fcfcfc;
 
}
#titulo7{
    font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;

  color: #fcfcfc;
 
}
#titulo8{
    font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;

  color: #fcfcfc;
 
}
#titulo9{
    font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;

  color: #fcfcfc;
 
}
#titulo10{
    font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 18px;

  color: #fcfcfc;
 
}
#listaFilmes {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    visibility:visible;
  }
  .bg-custom12{
    
    margin-left: 2.7vw;
    
  }

 .row{
    margin: 0%;
    padding: 0%;
 }
 .container{
    margin-left: 3vw;
   margin-top: 5vh;
    padding: 0%;
 }
 .btnDetalheFilme{
width: 5.8vw;
text-align: center;
    background-color: #000;
    color: #cccccc;
    border: solid 1px #e0e0e0;
    border-radius:8px;
    bottom: 0;
margin-bottom: 1vh;
margin-top: 3vh;

 }
 .btnDetalheFilme1{
  width: 5.8vw;
  text-align: center;
      background-color: #000;
      color: #cccccc;
      border: solid 1px #e0e0e0;
      border-radius:8px;
      bottom: 0;
  margin-bottom: 2vh;
  margin-top: 3vh;
  margin-left: 1vw;
  
   }
.btnDetalheFilme:hover{
  background-color: #fff;
  color: #000;
}

.btnDetalheFilme1:hover{
  background-color: #fff;
  color: #000;
}

 .genero{
    color: #333333;
   margin-left: 0.1vw;
  

 }
 .genero1{
  color: #333333;
 margin-left: 1vw;


}


 .Classifica{
   margin-right: 2vw;

 }
 .Ano{
  margin-right: 6vw;
    width: 6vw;
 }
 .Ano1{
  margin-left: 1vw;
    width: 6vw;
 }
.img{
    width:15rem;
    height: 50vh;
 }
 .img3{
    width:15rem;
    height: 50vh;
 }
 .nav-link{
  margin-left: 1.5vw;
 }
 .btnfavorite{
  background-color: #000000;
  border: none;
margin-bottom: -77vh;
margin-right: 2vw;

 }
 .imgfavorite{
  height: 3vh;
 }
 

 #imgfavorite{
  height: 3vh;
 }
 .cardDetalhe{
  display: flex;
  background-color: #000;
  align-items: center;
  margin-left: 10vw;
  margin-top: 4vh;
  width: 73vw;
  height: 90vh;
 }
 .Imginserc{
  height: 90vh;
 }
 .textoDetalhe{
  color: hsl(0, 0%, 63%);
  margin-left: 3vw;
  font-family: 'Helvetica Neue', sans-serif;
  
  
 }

 .titleDetalhe{
  margin-bottom: 6vh;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  

 }
 .Generodet{
  display: flex;
 }
.favoritosmostrar{
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  visibility:visible;
  margin: 1vh;
}